backend/.env
backend/.venv
backend/sac.db
backend/routers/__pycache__/
backend/app/__pycache__/
backend/services/__pycache__/
frontend/.env
backend/app/routers/__pycache__/
backend/app/services/__pycache__/
backend/app/__pycache__/
backend/app/scripts/__pycache__/
.agents